.transfer-card{
    background:white;
    border-radius:20px;
    padding:25px;
    margin-top:30px;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
}

.transfer-card h2{
    margin-bottom:20px;
    color:#1E3A8A;
}

.transfer-card input{
    width:100%;
    padding:15px;
    border:1px solid #CBD5E1;
    border-radius:12px;
    margin-bottom:15px;
    font-size:16px;
}

.transfer-card button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#2563EB;
    color:white;
    font-size:16px;
    font-weight:bold;
}

.transfer-card button:hover{
    background:#1D4ED8;
}