.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
    color:white;
}

.header-left h1{
    font-size:34px;
}

.header-left p{
    color:#CBD5E1;
}

.avatar{
    width:55px;
    height:55px;
    border-radius:50%;
    background:#2563EB;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-weight:bold;
    font-size:22px;
}

@media (max-width:768px){

    .header{
        flex-direction:column;
        text-align:center;
        gap:20px;
    }

    .header-left h1{
        font-size:28px;
    }

}